{% extends "index.twig" %}

{% block content %}
    <h2>Product {{ product.name }}</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/product">Products and inventory</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>

    <div class="container">
        <div class="col-md-12 text-right">
            <a href="/product"><button type="button" class="btn btn-outline-secondary">< Back</button></a>
        </div>
    </div>

    <div class="container">
        <div class="row pt-1 pb-3">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">General Information</h5>
                    <div class="card-body">
                        <span class="font-weight-bold">Name: </span>{{ product.name }}<br>
                        <span class="font-weight-bold">Sku: </span>{{ product.sku }}<br>
                        <span class="font-weight-bold">Type: </span>{{ product.type }}<br>
                        {% if product.inventory %}
                            <span class="font-weight-bold">Inventory: </span>
                            <ul>
                                {% for source in product.inventory %}
                                    <li class="{% if source.qty == 0 %}text-danger{% elseif source.qty < 10 %}text-warning{% else %}text-success{% endif %}">{{ source.source_id }}: {{ source.qty }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="number" class="form-control" id="quantity" placeholder="Quantity" aria-label="Quantity">
                    <div class="input-group-append" id="product-id" data-id="{{ product.id }}">
                        <button class="btn btn-primary set-inventory-for-product" id="set-inventory-for-product" type="button">Set inventory</button>
                        <button class="btn btn-outline-secondary random-inventory-for-product" id="random-inventory-for-product" type="button">Random inventory</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-md-12">
                <h5 class="card-header">Child products</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Sku</th>
                        <th scope="col">Type</th>
                        <th scope="col">Inventory</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for child in children %}
                        <tr>
                            <td>{{ child.id }}</td>
                            <td>{{ child.name }}</td>
                            <td>{{ child.sku }}</td>
                            <td>{{ child.type }}</td>
                            <td>
                                <ul>
                                {% for source in child.inventory %}
                                   <li class="{% if source.qty == 0 %}text-danger{% elseif source.qty < 10 %}text-warning{% else %}text-success{% endif %}">{{ source.source_id }}: {{ source.qty }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}