{% extends "index.twig" %}

{% block content %}
    <h2>Products and inventory</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products and inventory</li>
        </ol>
    </nav>

    <div class="container">
        <div class="col-md-5">
            <div class="input-group">
                <input type="number" class="form-control" id="quantity" placeholder="Quantity" aria-label="Quantity">
                <div class="input-group-append">
                    <button class="btn btn-primary set-inventory" id="set-inventory" type="button">Set inventory</button>
                    <button class="btn btn-outline-secondary random-inventory" id="random-inventory" type="button">Random inventory</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Sku</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
                            <td>{{ product.sku }}</td>
                            <td>{{ product.type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}