{% extends "index.twig" %}

{% block content %}
    <h2>Order #{{ order.general.increment_id }}</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Orders</a></li>
            <li class="breadcrumb-item active" aria-current="page">#{{ order.general.increment_id }}</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row pt-1 pb-3">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">General Information</h5>
                    <div class="card-body">
                        <span class="font-weight-bold">Increment Id: </span>{{ order.general.increment_id }}<br>
                        <span class="font-weight-bold">Customer: </span>{{ order.general.first_name }} {{ order.general.last_name }}<br>
                        <span class="font-weight-bold">Email: </span>{{ order.general.email }}<br>
                        <span class="font-weight-bold">Store: </span>{{ order.general.store }}<br>
                        <span class="font-weight-bold">Status: </span>
                            {% if order.general.status == 'new' or order.general.status == 'complete' %}
                                <span class="badge badge-success">
                            {% endif %}
                            {% if order.general.status == 'cancelled' %}
                                <span class="badge badge-danger">
                            {% endif %}
                            {{ order.general.status }}</span><br>
                        <span class="font-weight-bold">Status reason: </span>{{ order.general.status_reason }}<br>
                        <span class="font-weight-bold">Origin date: </span>{{ order.general.origin_date }}<br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Actions</h5>
                    <div class="card-body" data-id="{{ order.general.id }}">
                        <select id="source-select">
                            <option value="select-source">Select source</option>
                            {% for source in sources %}
                                <option value="{{ source.source_id }}">{{ source.source_id }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-secondary shipment-btn">Shipment</button>
                        <button type="button" class="btn btn-secondary shipment-details-btn">Request Shipment Label</button>
                        <button type="button" class="btn btn-secondary shipment-request-btn">Request Shipment</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h5>Items</h5>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Id</th>
                        <th scope="col">Product type</th>
                        <th scope="col">Sku</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Custom attributes</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.items %}
                        <tr>
                            <td>
                                {% if item.id != 'SHIPPING' and item.status == 'new' %}
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input item-select"
                                           id="check_{{ item.id }}"
                                           value="{{ item.id }}"
                                    />
                                </div>
                                {% endif %}
                            </td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.product_type }}</td>
                            <td>{{ item.sku }}</td>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.custom_attributes }}</td>
                            <td>
                                {% if item.id != 'SHIPPING' %}
                                    {% if item.status == 'new' %}
                                        <span class="badge badge-success">
                                    {% endif %}
                                    {% if item.status == 'cancelled' %}
                                        <span class="badge badge-danger">
                                    {% endif %}
                                    {% if item.status == 'shipped' %}
                                        <span class="badge badge-warning">
                                    {% endif %}
                                    {{ item.status }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% for package in item.packages %}
                        <tr>
                            <td colspan="6">
                                Package {{ package.id }} [
                                <a href="{{ package.tracking_link }}">Tracking Link</a> |
                                <a href="{{ package.shipping_label_link }}">Shipping Label</a>
                                ]<br/>
                                Tracking Number: <code>{{ package.tracking_number }}</code>
                            </td> 
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <h5>Shipments</h5>
        <hr>

        <h5>Post Sales</h5>
            {% for return in returns %}
                {% include 'order/rma/item.twig' with return %}
            {% endfor %}
        <hr>
        <h5>Refunds</h5>
        <hr>

        <h5>Message Log</h5>
        <hr>
    </div>
{% endblock %}
